@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ASM_CSharp4_Linhtnph20247.ViewModel.ProductViewModel
@{
    ViewData["Title"] = "Product";
}

<h2 class="text-center fw-bold">Product</h2>

<p>
    <button type="button" class="btn btn-primary">
        <a class="text-decoration-none text-white" asp-action="Create">Create Product</a>
    </button>
</p>
<table class="table container">
    <tr class="table-warning">
        <td>STT</td>
        <td>Ảnh</td>
        <td>Tên Sp</td>
        <td>Giá Bán</td>
        <td>Số Lượng Tồn</td>
        <td>Update-Delete</td>
        <td>Load Detail</td>
    </tr>
    <tbody>
        @foreach (var product in Model.Products)
        {
            var index = Model.Products.FindIndex(p => p.Id == product.Id) + 1;
            <tr>
                <td> 
                    @index
                </td>
                <td>
                @if (System.IO.Path.GetExtension(product.ImageUrl) == ".jpg" ||
                     System.IO.Path.GetExtension(product.ImageUrl) == ".png" ||
                     System.IO.Path.GetExtension(product.ImageUrl) == ".jpeg" ||
                     System.IO.Path.GetExtension(product.ImageUrl) == ".tiff" ||
                     System.IO.Path.GetExtension(product.ImageUrl) == ".gif")
                {
                    <img src="~/Styles/img/product/@product.ImageUrl" height="80px">
                }
                else
                {
                    <span>Lỗi ảnh</span>                       
                }
                <td>
                    @Html.DisplayFor(modelItem => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => product.Quantity)
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a class="text-decoration-none text-white" href="/Product/Edit/@product.Id">Sửa</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a class="text-decoration-none text-white" href="/Product/Delete/@product.Id">Xóa</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a class="text-decoration-none text-white" href="/Product/Details/@product.Id">Chi Tiết</a>
                    </button></td>
            </tr>
      }
    </tbody>
</table>