@model IEnumerable<ASM_CSharp4_Linhtnph20247.Models.Product>

@{
    ViewData["Title"] = "Product";
    var productList = Model.ToList();
}

<h2 class="text-center fw-bold">Product</h2>

<p>
    <button type="button" class="btn btn-primary">
        <a class="text-decoration-none text-white" asp-action="Create">Create Product</a>
    </button>
</p>
<table class="table container">
    <tr class="table-warning">
        <td>STT</td>
        <td>Tên Sp</td>
        <td>Ảnh</td>
        <td>Giá Bán</td>
        <td>Số Lượng Tồn</td>
        <td>Update-Delete</td>
        <td>Load Detail</td>
    </tr>
    <tbody>
        @foreach (var item in Model) {
            var index = productList.IndexOf(item) + 1;
            <tr>
                <td> 
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="~/@Html.DisplayFor(modelItem => item.ImageUrl)" style="height: 80px;">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <a class="text-decoration-none text-white" href="/Product/Edit/@item.Id">Sửa</a>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <a class="text-decoration-none text-white" href="/Product/Delete/@item.Id">Xóa</a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-success">
                        <a class="text-decoration-none text-white" href="/Product/Details/@item.Id">Chi Tiết</a>
                    </button></td>
            </tr>
      }
    </tbody>
</table>